<div class="page-header">
  <h1>BBD Blog main <small>additional info...</small></h1>
</div>



  <!--% @blog_messages.each do |post| %>-->
  <%= render :partial => "/blog_messages/blog_message", :collection => @blog_messages %>
  <!--% end %>-->


<br/>

<div class="post_handle">
  <%= button_to 'New Post', {controller: 'blog_messages', action: 'new'}, class:'btn btn-primary',method: 'get' %>
</div>

