<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <!--% @blog_messages.each do |post| %>-->
  <%= render :partial => "/blog_messages/blog_message", :collection => @blog_messages %>
  <!--% end %>-->
</table>

<br/>

<%= link_to 'New Post', new_blog_message_path %>
